<!-- ------------------------------------------------------------------------------------------------->
<section id="features">
  <div class="conainer">

    <h3 style=" font-family:montserrat-thin; color: rgb(0, 0, 0) ;">Features</h3>
    <div class="row">

      <div class="col-3">
        <div class="features-box">
          <i class="icon fa-solid fa-award fa-2x"></i>
          <h5 style="color: rgb(0, 0, 0);">Authentic Products</h5>
        </div>

      </div>
      <div class="col-3">
        <div class="features-box">
          <i class="icon fa-solid fa-store fa-2x"></i>
          <h5 style="color: rgb(0, 0, 0);">Express Store Pickup</h5>
        </div>
      </div>
      <div class="col-3">
        <div class="features-box">
          <i class="icon fa-solid fa-shield fa-2x"></i>
          <h5 style="color: rgb(0, 0, 0);">Secure Payment</h5>

        </div>
      </div>
      <div class="col-3">
        <div class="features-box">
          <i class="icon fa-solid fa-rotate-left fa-2x"></i>
          <h5 style="color: rgb(0, 0, 0);">Easy return and Exchange</h5>

        </div>
      </div>
    </div>
  </div>
  <h3 style="color:rgb(0, 0, 0) ; font-family:montserrat-thin;">Payment methods</h3>
  <div class="row">

    <div class="col-2">
      <div class="features-box">
        <i class="fa-solid fa-credit-card fa-2x"></i>

      </div>

    </div>
    <div class="col-2">
      <div class="features-box">
        <i class="fa-brands fa-cc-visa fa-2x"></i>

      </div>
    </div>
    <div class="col-2">
      <div class="features-box">
        <i class="fa-brands fa-amazon-pay fa-2x"></i>

      </div>
    </div>
    <div class="col-2">
      <div class="features-box">
        <i class="fa-brands fa-apple-pay fa-2x"></i>


      </div>


    </div>
    <div class="col-2">
      <div class="features-box">
        <i class="fa-brands fa-paypal fa-2x"></i>


      </div>


    </div>
    <div class="col-2">
      <div class="features-box">
        <i class="fa-brands fa-google-pay fa-2x"></i>


      </div>


    </div>
  </div>

</section>
<!-- ------------------------------------------------------------------------------------------------->
<!-- -------------------------------------------------------------------------------------------------------------------->
<section id="footer">
  <div class="footertext">
    <h5>copyright &copy www..com All Rights Reserved.</h5>
  </div>

</section>

</body>

</html>