<%-include('header')-%>

    <section id="home">
        <div class="container-fluid">
            <div class="slide-show ">

                <div id="carouselExampleIndicators" class=" slide-show carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="product"><img src="img\slider1.jpg" class="img-fluid d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="product"><img src="img\slider2.jpg" class="img-fluid d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="product"><img src="img\slider3.jpg" class="img-fluid d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="product"></a><img src="img\slider4.jpg" class=" img-fluid d-block w-100" alt="...">
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------------------------------------------------------------------------------------------------------->



    <section id="discount">

        <img src="img\adver2.jpg">

    </section>

    <!-- -------------------------------------------------------------------------------------------------------------------->


    <section id=advertisment-watch>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <img src="img\gif1.jpg">

                </div>
                <div class="col-6">
                    <img src="img\gif2.jpg">

                </div>
            </div>
        </div>



    </section>


    <!-- -------------------------------------------------------------------------------------------------------------------->


    <section id="product">

        <div class="row">
            <div class="col-4 col-lg-2  col-lg-2">

                <a href="product"><img src="img\cato7.jpg"></a>
            </div>
            <div class="col-4 col-lg-2  col-lg-2">

                <a href="product"> <img src="img\cato8.jpg"></a>
            </div>
            <div class="col-4  col-lg-2 col-lg-2">

                <a href="product"> <img src="img\cato10.jpg"></a>
            </div>
            <div class="col-4  col-lg-2 col-lg-2">

                <a href="product"><img src="img\cato9.jpg"></a>
            </div>
            <div class="col-4 col-lg-2  col-lg-2">

                <a href="product"><img src="img\cato11.jpg"></a>
            </div>
            <div class="col-4 col-lg-2 col-lg-2">

                <a href="product"> <img src="img\cato12.jpg"></a>
            </div>
        </div>

        </div>
    </section>

    <!-- -------------------------------------------------------------------------------------------------------------------->



    <section id="advertisement">

        <div class="container-fluid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r8YUIZGQ6ZU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


    </section>

    <!-- -------------------------------------------------------------------------------------------------------------------->



    <section id="product">
        <section id="brand-discount">
            <img src="img\adver.jpg">
            <div class="row">
                <div class="col-lg-2 col-4">
                    <a href="product"><img src="img\cato1.jpg"></a>

                </div>
                <div class="col-lg-2 col-4">
                    <a href="product"><img src="img\cato2.jpg"></a>
                </div>
                <div class="col-lg-2 col-4">
                    <a href="product"><img src="img\cato3.jpg"></a>
                </div>
                <div class="col-lg-2 col-4">
                    <a href="product"><img src="img\cato4.png"></a>
                </div>
                <div class="col-lg-2 col-4">
                    <a href="product"><img src="img\cato5.png"></a>
                </div>
                <div class="col-lg-2 col-4">
                    <a href="product"><img src="img\cato6.jpg"></a>
                </div>

            </div>

        </section>

        <!-- -------------------------------------------------------------------------------------------------------------------->


        <%-include('footer')-%>