<%-include('header')-%>
  <br>
  <br>

  <form class="form-signin" action="/register" method="post">
    <div class="text-center mb-3">
      <p>Sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>

    <p class="text-center">or:</p>

    <!-- Username input -->
    <div class="form-outline mb-2">
      <input type="text" id="registerUsername" name="username" placeholder="Username" class="form-control" required />

    </div>

    <!-- Email input -->
    <div class="form-outline mb-2">
      <input type="email" id="registerEmail" name="email" placeholder="Email" class="form-control" required />

    </div>

    <!-- Password input -->
    <div class="form-outline mb-2">
      <input type="password" id="registerPassword" name="password" placeholder="Password" class="form-control"
        required />

    </div>

    <!-- Repeat Password input -->
    <div class="form-outline mb-2">
      <input type="password" id="registerRepeatPassword" placeholder="Repeat password" class="form-control" required />

    </div>


    <!-- Checkbox -->
    <div class="form-check d-flex  mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck"
        aria-describedby="registerCheckHelpText" />
      <label class="form-check-label" for="registerCheck">
        I have read and agree to the terms
      </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
  </form>
  <!-- ------------------------------------------------------------------------------------------------->
  <%-include('footer')-%>